{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block page_content %}


      {% if messages %}
      <div class="modal-body p-4 text-center bg-primary">
        {% for message in messages %}
        <h5 {% if message.tags %} class="{{ message.tags }} mb-0 text-white"{% endif %}>{{ message }}</h5>
        {% endfor %}
      </div>
      {% endif %}
 




<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h1">{{header}}</h1>
  </div>
  <form method='POST' action=''>{% csrf_token %}
    {{form|crispy}}
        <input type="submit" value='Search'/>
</form>
<br>
  
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Count</th>
                <th scope="col">Category</th>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity in store</th>
                <th scope="col">Reorder level</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Last updated</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
				{% for inventories in queryset %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{inventories.category|title}}</td>
					<td><a href="{% url 'update_items' inventories.id %}">{{inventories.item_name|title}}</a></td>
          <td>
            {% if inventories.quantity <= inventories.reorder_level %}
              <div style="background-color: orange;">
                <a href="{% url 'stock_detail' inventories.id %}">{{inventories.quantity}}</a>
              </div>
            {% else %}
            <a href="{% url 'stock_detail' inventories.id %}">{{inventories.quantity}}</a>
            {% endif %}
          </td>
          <td><a href="{% url 'reorder_level' inventories.id %}">{{inventories.reorder_level}}</a></td>
          <td>{{inventories.timestamp}}</td>
          <td>{{inventories.last_updated}}</td>
          <td><a href="{% url 'delete_items' inventories.id %}"><i data-feather="trash-2" class="text-danger" style="width:28px;height:28px;"></i></a></td>
				  </tr>
				{% endfor %}
            </tbody>
          </table>	    
        </div>

	{% endblock %}