{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block page_content %}

<!-- THIS CODE HANDLE NOTIFICATION ON THIS PAGE-->
      {% if messages %}
      <div class="modal-body p-4 text-center bg-primary">
        {% for message in messages %}
        <h5 {% if message.tags %} class="{{ message.tags }} mb-0 text-white"{% endif %}>{{ message }}</h5>
        {% endfor %}
      </div>
      {% endif %}
 <!---->
 <style>

  .mybutton{
    width: 100%;
  }

  /*Table paination styling*/
.paging-nav {
  text-align: right;
  padding-top: 2px;
  font-size: 20px;
  padding-bottom: 10px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #0d6efd ;
  color: white;
  border-radius: 100px;
}

.paging-nav .selected-page {
  font-weight: bold;
  color: #dc3545;
}
/* End Table paination styling*/
</style>
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h1 mt-5">{{header}}</h1>
  </div>
 <div class="row"><!--Start of row-->

  <div class="col-sm-2"><!--Start of first col-->
      <form method='POST' action=''>{% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-primary mybutton" type="submit" value='Search'/>
      </form><br><br>
      <br>
      <br>
  </div><!--End of first col-->

  <div class="col-sm-10"><!--Start of second col-->
    <div class="display_table">
      <table class='table'>
        <thead>
          <tr>
            <th>COUNT</th>
            <th>ID</th>
            <th>CATEGORY</th>
            <th>ITEM NAME</th>
            <th>QUANTITY IN STORE</th>
            <th scope="col">Cost Per Item</th>
            <th scope="col">Sales or Revenue</th>
            <th>ISSUE QUANTITY</th>
            <th>RECEIVE QUANTITY</th>
            <th>LAST UPDATED</th>
          </tr>
        </thead>
      {% for instance in queryset %}
          <tr>
    
            <td>{{forloop.counter}}</td>
            <td>{{instance.id}}</td>
            <td>{{instance.category}}</td>
            <td>{{instance.item_name}}</td>
            <td>{{instance.quantity}}</td>
            <td scope="row">{{ instance.cost_per_item }}</td>
            <td scope="row">{{ instance.sales }}</td>
            <td>{{instance.issue_quantity}}</td>
            <td>{{instance.receive_quantity}}</td>
            <td>{{instance.last_updated}}</td>
          </tr>
      {% endfor %}
    </table>
    </div>
  </div><!--End of second col-->

</div><!--End of row-->
<br>
  


	{% endblock %}