{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block page_content %}
  <!-- THIS CODE HANDLE NOTIFICATION ON THIS PAGE-->
  {% if messages %}
  <div class="modal-body p-4 text-center bg-primary">
    {% for message in messages %}
    <h5 {% if message.tags %} class="{{ message.tags }} mb-0 text-white"{% endif %}>{{ message }}</h5>
    {% endfor %}
  </div>
  {% endif %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h1">{{title}}</h1>
   
  
    </div>

<div class="row"><!--Start of row-->

  <div class="col-sm-2"><!--Start of first col-->
     <br><br>
      <br>
      <a href='{% url 'issue_items' queryset.id %}'><div class='btn btn-success mb-3'>Click to SELL THIS ITEM</div></a>
      <a href='{% url 'receive_items' queryset.id %}'><div class='btn btn-primary mb-3'>RECEIVE THIS ITEM</div></a>
      <a href='#'><div class='btn btn-primary'>Add Damaged Stock</div></a> 
      <br>
  </div><!--End of first col-->

  <div class="col-sm-10"><!--Start of second col-->
    <div class="display_table">
      <table class='table'>
              <tr>
                <th>ITEM NAME</th>
                <th>QUANTITY IN STORE</th>
                <th>LAST UPDATED</th>
                <th>REORDER LEVEL</th>
              </tr>
              <tr>
                <td>{{queryset.item_name}}</td>
                <td>{{queryset.quantity}}</td>
                <td>{{queryset.last_updated}}</td>
                <td>{{queryset.reorder_level}}</td>
              </tr>
      </table>
    </div>
  </div><!--End of second col-->

</div><!--End of row-->


<!---->
        <br><br>
     

 
        {% endblock %}       